* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eee6df;
}

.container,
.container header,
.container section {
    transition: background-color 0.2s;
}

.container {
    max-width: 85%;
    margin: 10rem auto;
    text-align: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.123);
}

.container header {
    background-color: #ffb283;
    color: white;
    padding: 1rem;
    border-radius: 0.3rem 0.3rem 0 0;
}

.container section {
    background-color:  #bb9f8b;
    color: white;
    padding: 6rem;
    border-radius: 0 0 0.3rem 0.3rem;
}

.container section p.time {
    margin: 0;
    font-size: 5rem;
}