* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    margin: 3rem auto;
    padding-left: 1rem;
}

.container header h1 {
    font-size: 3rem;
    color: rgb(46, 1, 46);
}

.container section .week-day {
    font-size: 4rem;
    font-family: Archivo, sans-serif;
    border-bottom: 2px solid purple;
    padding-bottom: 0.5rem;
    width: 30%;
    border-radius: 0.2rem 0;
}

.container section .description {
    font-size: 1.5rem;
}

