* {
    font-family: 'Kaushan Script', cursive ,Arial, Helvetica, sans-serif;
}

body {
    background-color: #ebe7e7;
}

.hide {
    display: none;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    /* background-color: plum; */
}

header h2, header span{
    font-size: 35px;
}

header span {
    color: rgb(252, 96, 122);
    font-size: 50px;
}

section.navigation nav button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(95, 93, 93, 0.733);
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
}

section.navigation nav button:last-child {
    margin-right: 0;
}

section.navigation .search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

section.navigation .search a {
    margin: 0;
    padding: 0;
}

section.navigation .search input {
    width: 30%;
    height: 40px;
}

section.navigation .search img {
    background-color: plum;
    width: 34px;
    margin-bottom: 0;
    padding: 6px;
    border-radius: 10px 0 0 10px;
}

section.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-count: 3;
    max-width: 800px;
    margin: auto;
    
}

section.items .item {
    align-items: center;
    padding: 30px;
    cursor: pointer;
}


section.items .item img {
    width: 100px;

    background-color: white;
    padding: 30px 60px;
    border-radius: 8px 8px 0 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.123);

}

section.items .item p {
    background-color: plum;
    margin: -5px 0;
    /* width: 100%; */
    padding: 10px 2px ;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.137);
}

section.items .item span.price {
    float: right;
    margin-right: 10px;
}